<!-- Implementing Bottom Navigation Bar for Mobile UI Optimization -->
<link rel="stylesheet" href=" filename='styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<nav class="mobile-nav">
    <ul>
        <li><a href="{{ url_for('main') }}" class="nav-link">Home</a></li>
        <li><a href="{{ url_for('personal_score') }}" class="nav-link">Scores</a></li>
        <li><a href="{{ url_for('tournament') }}" class="nav-link">Tournament</a></li>
      </ul>
  </nav>